.search {
  margin: 0 auto;

  width: 1002px;
}

@media (max-width: 1001px) {
  .search {
    box-sizing: border-box;
    padding: 0 10px;

    width: 100%;
  }
}

@media (max-width: 659px) {
  .search {
    padding: 0 20px;
  }
}
