.slider {
  position: relative;
  margin-top: -118px;
  z-index: 1;
}

.slider__slide {
  width: 100%;
}

.slider__image {
  display: block;
  width: 100%;
  height: auto;
}

.slider__wrapper {
    width: 1000px;
    margin: 0 auto;
}

.slider__title {
  position: absolute;
  bottom: 39px;

  box-sizing: border-box;
  margin: 0;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 19px;


  width: 459px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;

  color: #ffffff;

  background-color: rgba(27, 127, 155, 0.8);
}

.slider__control {
  position: absolute;
  top: 221px;
  z-index: 100;

  display: block;

  width: 49px;
  height: 90px;

  background-color: rgba(47, 47, 46, 0.7);
  background-repeat: no-repeat;

  &--prev {
    left: 0;
    background-image: url("../../img/arrow-left.png");
    background-position: 14px 27px;
  }

  &--next {
    right: 0;
    background-image: url("../../img/arrow-right.png");
    background-position: 20px 27px;
  }
}

@media (max-width: 1001px) {
  .slider {
    margin: 0;
  }

  .slider__wrapper {
    width: 100%;
  }

  .slider__title {
    bottom: 0;

    font-size: 24px;
    line-height: 30px;
  }

  .slider__control {
    top: 55px;
  }
}


@media (max-width: 659px) {
  .slider__title {
    position: relative;
    top: 0;

    padding: 5px 20px;

    width: 100%;

    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .slider__control {
    top: 28px;
  }
}
