@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Oswald-Regular.woff2") format("woff2"),
       url("../../fonts/Oswald-Regular.woff") format("woff");
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Oswald-Bold.woff2") format("woff2"),
       url("../../fonts/Oswald-Bold.woff") format("woff");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ProximaNova-Regular.woff2") format("woff2"),
       url("../../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/ProximaNova-Semibold.woff2") format("woff2"),
  url("../../fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/MyriadPro-Regular.woff2") format("woff2"),
       url("../../fonts/MyriadPro-Regular.woff") format("woff");
}
